body {background-color: #f5e17c;}

#container{width: 600px;
		   background-color: rgb(244, 198, 223);
		   margin: auto;
		  }
	
h1,h2{width: 400px;
    color: #248e19;
	  background-color: #d4d4f0;
	 }


p,h3 {background-color: #d8d1b2;
	 }

p { color: #0b5504;
    width: 400px; 
	border-width: 8px; 
	border-style: dotted; 
	border-color: #d0ae13;
  	padding: 10px;
  }

